.header__nav {
	position: relative;
	height: 60px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: white;
	background-image: url(../img/nav-bg.png);
	background-repeat: no-repeat;
	.header__nav-menu {
		margin: 0 5px;
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-grow: 1;
		a {
			padding: 26px 0 15px;
			font-family: 'Gilroy-Bold', sans-serif;
			font-size: 13px;
			text-transform: uppercase;
			letter-spacing: 0.6px;
			border-bottom: 2px solid transparent;
			color: #040000;
			&:hover, &:active, &:focus {
				border-bottom: 2px solid #f05f26;
			}
		}

		.tv {
			padding-top: 22px;
			padding-bottom: 8px;
		}
	}

	.header__search {
		display: flex;
		justify-content: space-between;
		button {
			color: #ff6900;
			font-size: 1.5rem;
			border: none;
			background-color: transparent;
		}
		#form {
			display: flex;
			align-items: center;
			input {
				border: none;
				border-bottom: 1px solid #ff6900;
				font-family: 'Gilroy-Regular', sans-serif;
				font-size: 12px;
				text-transform: uppercase;
				letter-spacing: 0.6px;
				color: #040000;
			}
			button {
				padding: 0 0 0 3px;
			}
		}
	}
}