.main .container {
	padding: 30px 40px;
	display: flex;
	background: linear-gradient(to bottom, #f6f4f9, transparent);
	background-size: 100% 400px;
	background-repeat: no-repeat;
	@include breakpoint(max-width 768px) {
		padding: 20px 10px;
	}
}

.content {
	width: 860px;
	padding-right: 30px;
	box-sizing: border-box;
	@include breakpoint(max-width 1200px) {
		width: calc(100% - 245px);
	}

	@include breakpoint(max-width 768px) {
		width: 100%;
		padding: 0;
	}
	h2 {
		margin-top: 45px;
		margin-bottom: 10px;
		font-family: 'Roboto', sans-serif;
		font-weight: 700;
		font-size: 36px;
		color: #ff6900;
		border-bottom: 2px solid #ff6900;
		text-transform: uppercase;
	}
	.top-news {
		position: relative;
		.top-news__block {
			position: relative;
			img {
				width: 100%;
				position: relative;
				z-index: 1;
			}
		}
		.top-news__buttons {
			position: absolute;
			right: 60px;
			bottom: 40px;
		}
	}

	.top-news__describe {
				width: 100%;
				padding: 20px 30px;
				position: absolute;
				bottom: 0;
				background: linear-gradient(to top, hsla(240, 81%, 6%, 0.75), transparent);
				color: white;
				z-index: 2;
				h3 {
					max-width: 450px;
					margin: 0;
				}

				a {
					font-family: 'Gilroy-Semibold', sans-serif;
					font-size: 19px;
					text-transform: uppercase;
					line-height: 24px;
					letter-spacing: 0.5px;
					color: white;
				}

				span {
					font-family: 'Lato', sans-serif;
					font-size: 12px;
				}
			}

	.news {
		color: white;
		text-transform: uppercase;

		h3 {
			font-family: 'Gilroy-Bold', sans-serif;
		}

		.news__latest {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			margin-bottom: 10px;
		}

		.news__latest-left,
		.news__latest-right {
			position: relative;
			max-width: 410px;
			width: 90vw;
			/*height: 210px;*/
			img {
				width: 100%;
				height: 100%;
			}

			h3 {
				margin: 0;
				padding: 7px 20px 5px;
				position: absolute;
				top: 20px;
				background-color: hsla(0, 0%, 0%, 0.65);
				font-size: 13px;
			}

			.news__latest-title {
				height: 25%;
				padding: 10px;
				display: flex;
				justify-content: space-between;
				align-items: flex-end;
				flex-wrap: wrap;
				position: absolute;
				bottom: 0;
				background: linear-gradient(to top, hsla(240, 81%, 6%, 0.75), transparent);
				span {
					font-family: 'Lato', sans-serif;
					font-size: 12px;
				}

				h4 {
					width: 100%;
					margin: 0;
					a {
						font-family: 'Myriad', sans-serif;
						font-weight: normal;
						font-size: 13px;
						color: white;
					}
				}
			}
		}

		.news__slide {
			width: 205px;
			margin: 0 9px 0 1px;
			position: relative;
			img {
				width: 100%;
				height: 100%;
			}

			h3 {
				margin: 0;
				padding: 7px 20px 5px;
				position: absolute;
				top: 5px;
				background-color: hsla(0, 0%, 0%, 0.65);
				font-family: 'Gilroy-Bold', sans-serif;
				font-size: 11px;
			}

			.news__slide-title {
				width: 100%;
				max-height: 60%;
				padding: 10px;
				position: absolute;
				bottom: 0;
				background: linear-gradient(to top, hsla(240, 81%, 6%, 0.75), transparent);
				box-sizing: border-box;
			}

			span {
				font-family: 'Lato', sans-serif;
				font-size: 9px;
			}

			h4 {
				margin: 0;
				line-height: 0.9;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				a {
					color: white;
					font-family: "Gilroy-Semibold", sans-serif;
					font-weight: normal;
					font-size: 11px;

				}
			}
		}
	}
	
	.live__title,
	.video__title {
			margin-top: 45px;
			display: flex;
			align-items: center;
			border-bottom: 2px solid #ff6900;
			img {
				margin-right: 10px;
				margin-bottom: 5px;
			}
			h2 {
				margin: 0;
				border: none;
			}
		}

	.live {
		.live__content {
			width: 100%;
			margin-top: 10px;
			display: flex;
		}

		.live__tab-content {
			width: 550px;
			img {
				display: block;
				width: 100%;
				height: 100%;
				margin: 0 auto;
			}
		}

		.tab {
			width: 300px;
			display: flex;
			flex-direction: column;
			text-align: center;
			.tablinks {
				margin-bottom: 10px;
				padding: 0;
				padding-left: 25px;
				padding-bottom: 10px;
				font-family: 'Lato', sans-serif;
				font-size: 16px;
				text-align: left;
				background-color: transparent;
				box-sizing: padding-box;
				border: none;
				cursor: pointer;
				span {
					font-weight: 900;
					font-size: 18px;
				}
			}

			.active {
				span {
					position: relative;
					color: #ff6900;
					&:before {
						content: '';
						width: 8px;
						height: 14px;
						position: absolute;
						top: 0px;
						left: -15px;
						background-image: url(../img/arrow-left-act.png);
						background-repeat: no-repeat;
					}
				}
			}
			.tele {
				font-weight: 900;
				font-size: 13px;
				color: #1b1716;
				text-transform: uppercase;
				text-decoration: underline;
				transition: opacity 0.2s;
				&:hover, &:active, &:focus {
					opacity: 0.8;
					text-decoration: none;
					transition: opacity 0.2s;
				}
			}
		}
	}

	.video {
		.video__slider {
			margin-top: 10px;
			.video__slide {
				width: 200px;
				height: 220px;
				margin: 0 9px 0 1px;
				position: relative;
				div {
					&:hover {
						cursor: pointer;
						box-shadow: 1px 9px 16px rgba(0, 0, 0, 0.1);
					}
				}
				img {
					width: 100%;
				}

				.describe {
					margin: 0;
					padding: 10px 5px 15px;
					font-family: 'Lato', sans-serif;
					font-weight: 700;
					font-size: 13px;
					line-height: 18px;
				}
			}
		}
	}

	.publications {
		width: 100%;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		h2 {
			margin-top: 0;
			width: 100%;
		}
		.publications__left,
		.publications__right {
			position: relative;
			max-width: 410px;
			display: flex;
			flex-direction: column;
		}

		img {
			width: 100%;
			height: 100%;
		}

		.publications__left-news,
		.publications__right-news {
			width: 100%;
			position: relative;
			display: flex;
			justify-content: space-between;
		}

		.first-news,
		.second-news {
			position: relative;
			width: 200px;
			color: white;
			text-transform: uppercase;
			h3 {
				margin: 0;
				padding: 7px 20px 5px;
				position: absolute;
				top: 5px;
				background-color: hsla(0, 0%, 0%, 0.65);
				font-family: 'Gilroy-Bold', sans-serif;
				font-size: 12px;
			}

			.news__slide-title {
				width: 100%;
				max-height: 60%;
				padding: 10px;
				position: absolute;
				bottom: 0;
				background: linear-gradient(to top, hsla(240, 81%, 6%, 0.75), transparent);
				box-sizing: border-box;
			}

			span {
				font-family: 'Lato', sans-serif;
				font-size: 9px;
			}

			h4 {
				margin: 0;
				line-height: 0.9;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				a {
					color: white;
					font-family: "Gilroy-Semibold", sans-serif;
					font-size: 9px;
				}
			}
		}

		.publications__slider {
			position: relative;
			color: white;
			text-transform: uppercase;
			h3 {
				margin: 0;
				padding: 7px 20px 5px;
				position: absolute;
				top: 20px;
				background-color: rgba(0,0,0,.65);
				font-size: 13px;
			}
		}

		.publications__right-news {
			margin-bottom: 10px;
		}

		.publications__left-news {
			margin-top: 10px;
		}

		.publications__left-arrows,
		.publications__right-arrows {
			position: absolute;
			right: 50px;
			bottom: 25px;
		}

		.top-news__describe {
			padding: 10px;
			h4 {
				max-width: 300px;
				margin: 0;
				a {
					font-size: 13px;
					line-height: normal;
					letter-spacing: normal;
				}
			}
		}
	}

	.countries {
		.countries__video {
			img {
				width: 100%;
			}
		}
	}
}
/* анимация fade in табов*/
.tabcontent {
	height: 100%;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}



.sidebar {
	position: relative;
	max-width: 245px;
	@include breakpoint(max-width 768px) {
		display: none;
	}
}

.rubrics-title,
.events__title {
	h3 {
		margin: 0;
		padding: 10px;
		font-family: 'Roboto', sans-serif;
		font-weight: 700;
		font-size: 16px;
		text-transform: uppercase;
		color: #ff6900;
	}
}

.rubrics {
	max-width: 245px;
	height: 250px;
	position: relative;
	margin: 30px auto;
	background-color: white;
	box-shadow: 1px 9px 16px hsla(0%, 0%, 0%, 0.1);
	.slide-title {
		width: 50%;
		padding: 5px 25px;
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
		background-color: hsla(0%,0%,0%,0.6);
		text-align: center;
		h4 {
			margin: 0;
			font-family: 'Gilroy-Bold', sans-serif;
			font-size: 13px;
			text-transform: uppercase;
			color: white;
		}
	}
	.rubrics-slide {
		height: 205px;
		position: relative;
		overflow: hidden;
		}
	// обрезание текста в первом слайдере сайдбара
	.line-clamp {
		margin: 5px 10px;
		font-size: 13px;
		display            : block;
		display            : -webkit-box;
		-webkit-box-orient : vertical;
		position           : relative;
		line-height        : 1.4;
		overflow           : hidden;
		text-overflow      : ellipsis;
		padding            : 0 !important;
		height             : calc(1em * 1.4 * 3);
	}
	.line-clamp:after {
		content    : '...';
		text-align : right;
		bottom     : 0;
		right      : 0;
		width      : 25%;
		display    : block;
		position   : absolute;
		height     : calc(1em * 1.4);
		background : linear-gradient(to right, hsla(0, 100%, 100%, 0), hsla(0, 100%, 100%, 1) 75%);
	}
}

.sidebar__events,
.content__events {
	width: 245px;
	margin: 0 auto;
	background-color: white;
	box-shadow: 1px 9px 16px hsla(0, 0, 0, 0.1);
	.events__map {
		text-align: center;
	}
}
.special-nav,
.contests-nav,
.reciepes-nav,
.content__special-nav,
.content__contests-nav,
.content__reciepes-nav {
	position: absolute;
	top: 18px;
	right: 0;
}

.sidebar__first-ad,
.content__first-ad {
	width: 245px;
	height: 400px;
	margin: 30px auto 0;
	img {
		width: 100%;
	}
}

.sidebar__first-ad {
	margin: 0;
}

.sidebar__second-ad,
.sidebar__third-ad,
.content__second-ad,
.content__third-ad {
	width: 245px;
	height: 400px;
	margin: 30px auto;
	background-color: white;
	img {
		width: 100%;
	}
}

.content__special,
.content__contests,
.content__reciepes,
.content__events,
.content__second-ad,
.content__third-ad,
.content__first-ad {
	@include breakpoint(min-width 768px) {
		display: none;
	}
}