html{
    width: 100%;
}
body{
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: 'Roboto-Regular';
    font-size: 16px;
    text-align: left;
    vertical-align: baseline;
    // background-image: url(../img/background.jpg);
    // background-repeat: no-repeat;
    background-color: #F6F4F9;
    // background-size: 100%;
}

::placeholder {
    opacity: 1;
}

a {
    text-decoration: none;
    &:hover, &:focus, &:active{
        text-decoration: none;
    }
}

input{
    outline: none;
    &:hover, &:focus, &:active{
        outline: none;
    }
}

textarea{
    outline: none;
    &:hover, &:focus, &:active{
        outline: none;
    }
}

%clearfix {
    *zoom: 1;
    &:after {
        content: '';
        display: table;
        line-height: 0;
        clear: both;
    }
}

.active-rubric {
    border-bottom: 2px solid #ff6900 !important;
}


.news-main__title,
#contests__form {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 2px solid #ff6900;
    h2 {
        margin-top: 0;
        margin-bottom: 0;
        border: none;
    }

    #select {
        margin-right: 20px;
        margin-bottom: 10px;
        @include breakpoint(max-width 576px) {
            margin-right: 5px;
        }
        .active-country {
            padding-right: 25px;
            font-family: 'Roboto-Bold', sans-serif;
            font-size: 14px;
            color: #040000;
            cursor: pointer;
            &:after {
                content: '';
                width: 10px;
                height: 6px;
                margin-left: 15px;
                position: absolute;
                bottom: 16px;
                background-image: url(../img/arrow-down.png);
                background-repeat: no-repeat;
            }
            @include breakpoint(max-width 576px) {
                padding-right: 5px;
                &:after {
                    margin-left: 5px;
                }
            }
        }
                .opened-list {
            &:after {
                content: '';
                background-image: url(../img/arrow-up.png);
            }
        }
        .country-select {
            padding: 20px;
            position: absolute;
            right: 0;
            display: none;
            list-style: none;
            background-color: white;
            li {
                width: 25%;
                height: 15px;
                padding: 0;
                margin: 5px;
                cursor: pointer;
                line-height: 1.2;
                @include breakpoint(max-width 768px) {
                    width: 30%;
                    height: auto;
                }

                @include breakpoint(max-width 576px) {
                    width: 50%;
                }

                .country {
                    padding: 5px 0;
                    font-family: 'Gilroy-Regular', sans-serif;
                    font-size: 14px;
                    color: #040000;
                    border: none;
                    text-transform: none;
                    &:hover {
                        font-family: 'Gilroy-Black', sans-serif;
                        border: none;
                        color: #f06226;
                    }
                }
                .selected-country {
                    font-family: 'Gilroy-Black', sans-serif;
                    color: #f06226
                }
            }
        }
        .expand-country {
            width: 95.1%;
            height: 420px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            z-index: 2;
            @include breakpoint(max-width 768px) {
                height: 100vh;
            }
            @include breakpoint(max-width 576px) {
                height: 150vh;
            }
        }
    }
}

.news-main__nav {
    .news-main__nav-menu {
        margin: 5px 0;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        a {
            padding: 7px 5px 5px;
            font-family: 'Roboto-Bold', sans-serif;
            font-size: 12px;
            text-transform: uppercase;
            color: #040000;
            border: 1px solid transparent;
            &:hover, &:focus {
                border-color: #ff6900;
            }
            &:active {
                background-color: white;
            }
        }
        .active-news {
            border-color: #ff6900;
            background-color: white;
        }
    }
}

.news-blocks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    text-transform: uppercase;
    img {
        width: 100%;
        height: 100%;
    }
    .big-block {
        max-width: 405px;
        min-width: 280px;
        margin: 5px 0;
        position: relative;
        .big-block__rubric {
            h3 {
                margin: 0;
                padding: 7px 20px 5px;
                position: absolute;
                top: 20px;
                background-color: rgba(0,0,0,.65);
                font-family: 'Gilroy-Black',sans-serif;
                font-weight: normal;
                font-size: 13px;
            }
        }

        .big-block__title,
        .big-block__title-top {
            width: 100%;
            box-sizing: border-box;
            height: 30%;
            padding: 10px;
            display: flex;
            align-items: flex-end;
            flex-wrap: wrap;
            position: absolute;
            bottom: 3px;
            background: linear-gradient(to top, hsla(240, 81%, 6%, 0.75), transparent);
            span {
                padding-right: 10px;
                font-family: 'Lato-Medium',sans-serif;
                font-size: 8px;
            }

            .big-block__views {
                font-size: 12px;
            }

            h4{
                margin: 0;
                @include breakpoint(max-width 576px) {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                a {
                    font-family: 'Gilroy-Bold',sans-serif;
                    font-weight: normal;
                    font-size: 17px;
                    color: #fff;
                }
            }
        }

        .big-block__title-top {
            padding: 0 0 20px 15px;
            span {
                font-size: 12px;
                text-transform: none;
            }
        }
    }

    .small-block__container {
        max-width: 405px;
        min-width: 280px;
        margin: 5px 0;
        position: relative;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .small-block {
        width: 195px;
        height: 125px;
        margin: 5px 0;
        position: relative;
        @include breakpoint(max-width 576px) {
            width: 100%;
            height: auto;
        }
        h3 {
            margin: 0;
            padding: 7px 20px 5px;
            position: absolute;
            top: 5px;
            background-color: rgba(0,0,0,.65);
            font-family: 'Gilroy-Black',sans-serif;
            font-weight: normal;
            font-size: 11px;
        }

        .small-block__title {
            width: 100%;
            max-height: 60%;
            padding: 10px;
            position: absolute;
            bottom: 0;
            background: linear-gradient(to top, hsla(240, 81%, 6%, 0.75), transparent);
            box-sizing: border-box;
            @include breakpoint(max-width 576px) {
                bottom: 4px;
            }
            h4 {
                margin: 0;
                line-height: .9;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                a {
                    color: white;
                    font-family: 'Roboto-Bold',sans-serif;
                    font-weight: normal;
                    font-size: 9px;
                }
            }

            span {
                font-family: 'Roboto-Bold', sans-serif;
                font-size: 7px;
            }

            .small-block__views {
                font-size: 8px;
            }
        }
    }
}