.container {
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

@media (max-width: 1200px) {
    .container {
        width: 95vw;
        padding: 0;
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}