.footer {
	color: #0a0504;
	h3 {
		font-family: 'Gilroy-Extrabold', sans-serif;
		font-size: 20px;
		text-transform: uppercase;
		color: black;
	}

	a {
		font-family: 'Gilroy-Medium', sans-serif;
		font-size: 18px;
		color: #0a0504;
		transition: opacity 0.2s;
		&:hover, &:active, &:focus {
			transition: opacity 0.2s;
			opacity: 0.8;
			text-decoration: underline;
		}
	}

	p {
		font-family: 'Lato-Regular', sans-serif;
		font-size: 18px;
		line-height: 26px;
	}
}

.footer__content {
	margin: 40px 20px;
	min-height: 200px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	.footer__logo {
		width: 330px;
		margin-top: 20px;
		@include breakpoint(max-width 576px) {
			width: 100%;
		}
		a {
			display: inline-block;
			margin-bottom: 40px;
		}
	}

	.footer__about {
		.footer__nav {
			min-width: 200px;
			min-height: 150px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
	}

	.footer__social {
		min-width: 200px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.footer__social-links {
			max-width: 160px;
			display: flex;
			justify-content: space-between;
		}
	}
}

.footer__stats {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	background-image: url(../img/footer-shadow.png);
	background-repeat: no-repeat;
	background-size: contain;
	text-transform: uppercase;
	p {
		font-weight: 300;
		font-family: 'Lato-Light', sans-serif;
		font-size: 27px;
		text-align: center;
		color: #0a0504;
		@include breakpoint(max-width 768px) {
			width: 280px;
		}
	}

	.stats-num {
		margin-top: 30px;
		font-family: 'Lato-Black', sans-serif;
	}
}

.footer__copyright {
	font-size: 16px;
}